body {
    font-family: Arial, sang-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

label { 
    font-weight: bold;
}

input {
    padding: 5px;
    margin-top: 5px;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#resultado p {
    margin: 8px 0;
}